version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "55909:55909"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: [ "ng", "serve", "--host", "0.0.0.0", "--port", "55909" ]

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    command: [ "python", "main.py" ]
